application/java/services/organization/src/main/resources/xsd/type-group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
            
  <xsd:include schemaLocation="type-user.xsd"/>          
  
  <xsd:complexType name="_typeGroup_">
	  <xsd:sequence>
	    <xsd:element name="id" type="xsd:string"/>
	    <xsd:element name="parentId" type="xsd:string"/>
	    <xsd:element name="name" type="xsd:string"/>
	    <xsd:element name="label" type="xsd:string"/>
	    <xsd:element name="description" type="xsd:string"/>
	  </xsd:sequence>
  </xsd:complexType>
</xsd:schema>