application/java/services/organization/src/main/resources/xsd/type-membership.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
      
   <xsd:complexType name="_typeMembership_">
   <xsd:sequence>
	  <xsd:element name="membershipType" type="xsd:string"/>
	  <xsd:element name="id" type="xsd:string"/>
	  <xsd:element name="groupId" type="xsd:string"/>
	  <xsd:element name="userName" type="xsd:string"/>
   </xsd:sequence>
   </xsd:complexType>
  
</xsd:schema>