application/java/services/organization/src/main/resources/xsd/type-membershiptype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    
    
    <xsd:complexType name="_typeMembershipType_">
    <xsd:sequence>
     <xsd:element name="name" type="xsd:string"/>
     <xsd:element name="description" type="xsd:string"/>
     <xsd:element name="owner" type="xsd:string"/>
     <xsd:element name="createdDate" type="xsd:date"/>
     <xsd:element name="modifiedDate" type="xsd:date"/>
    </xsd:sequence>
    </xsd:complexType>        
</xsd:schema>            