application/java/services/organization/src/main/resources/xsd/type-groupinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="unqualified">

	<xsd:include schemaLocation="type-group.xsd" />

	<xsd:complexType name="members">
		<xsd:sequence>
			<xsd:element name="member" type="_typeUser_" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

		<xsd:complexType name="_groupInfo_">
			<xsd:sequence>
				<xsd:element name="group" type="_typeGroup_" />
				<xsd:element name="members" type="members" />
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>